<ul class="list-inline">
    <li><a href="https://github.com/cpotter/" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github" target="_blank"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/profile/view?id=AAMAAAM-UkwBmGW7ES9NCxm8yWLw_tnZZ_29nYw&trk=hp-identity-photo" class="btn-social btn-outline" title="LinkedIn" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
    <li><a href="mailto:chris.potter.3d@gmail.com" class="btn-social btn-outline" title="Email" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
    </li>
</ul>
